<section id="amala-earth">
        <div class="container-fluid">
          <div class="section-title">
            <h2>About Amala Earth</h2>
          </div>
          <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center pt-lg-0 order-2 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <div class="amala-earth-text">
                 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="viewAllBtn">
                  <button>read more</button>
                </div>
              </div>
            </div>
          </div>
        
      </section>
{% schema %}
   {
      "name": "About Amala Section",
      
      "blocks": [
        {
          "type": "text",
          "name": "slide",
          "settings": [
          
 
          ]
        }
      ],
      "presets": [
        {
          "name": "About Amala Section",
          "category": "text",
          "blocks": [
            {
              "type": "text"
            }
          ]
        }
      ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}