<section id="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center pt-lg-0 order-2 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <div class="footer-container">
               <div class="stay-in-touch">
                <div class="logo-text">
                  <img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/footer-log0.png?v=1667220602">
                <h4>Stay in touch</h4>
                <p>Sign up for exclusive offers, original stories, events and more.</p>
                </div>
                <form>
                  <input type="text" placeholder="Enter Email">
                  <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/input-arrow.png?v=1667220602"></span>
                </form>
                <div class="social-icons">
                  <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/insta.png?v=1667220602"></span>
                  <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/youtube.png?v=1667220603"></span>
                  <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/insta.png?v=1667220602"></span>
                  <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/youtube.png?v=1667220603"></span>
                </div>
               </div>
                
               <div class="categories">
                <div class="categories-list-item">
                <div class="top-categories">
                  <input class="toggle-box" id="identifier-1" type="checkbox">
                    <label for="identifier-1">Top Categories</label>
                  <div>
                  <ul>
                    <li>Mindful Eating</li>
                    <li>Ethical Beauty</li>
                    <li>Joyful Home</li>
                    <li>Responsible Fashion</li>
                    <li>Conscious Family</li>
                    <li>Feel-good Others</li>
                    <li>Holistic Wellness Gifts</li>
                  </ul>
                </div>
                </div>
                <div class="top-categories">
                  <input class="toggle-box" id="identifier-2" type="checkbox">
                  <label for="identifier-2">Tags</label>
                <div>
                  <ul>
                    <li>Organic </li>
                    <li>Eco-friendly </li>
                    <li>Cruelty-free </li>
                    <li>Locally Sourced </li>
                    <li>Ethically Sourced </li>
                    <li>Community-driven </li>
                    <li>View All</li>
                  </ul>
                </div></div>
                <div class="top-categories">
                  <input class="toggle-box" id="identifier-3" type="checkbox">
                    <label for="identifier-3">About us</label>
                  <div>
                  <ul>
                    <li>Blogs</li>
                    <li>Contact Us</li>
                    <li>Offers</li>
                    <li>Careers</li>
                    <li>Our Story</li>
                    <li>Founder’s Note</li>
                    <li>Our Philosphy</li>
                  </ul>
                </div></div>
                
                <div class="top-categories">          
                <input class="toggle-box" id="identifier-4" type="checkbox">
                  <label for="identifier-4">
                  Help</label>
                <div>
                  <ul>
                    <li>Returns  </li>
                    <li>Shipping  </li>
                    <li>Privacy Policy  </li>
                    <li>Contact Us  </li>
                    <li>FAQ’s</li>
                  </ul>
                </div>
                </div>
                
               </div>
              </div>
            
              </div>
              <div class="copy-right"><p>© 2022 AmalaEarth.com. All Rights Reserved</p></div>
            </div>
          </div>

         
        </div>

      </section>

{% schema %}
   {
      "name": "Footer Section",
      
      "blocks": [
        {
          "type": "text",
          "name": "slide",
          "settings": [
          
          ]
        }
      ],
      "presets": [
        {
          "name": "Footer section",
          "category": "text",
          "blocks": [
            {
              "type": "text"
            }
          ]
        }
      ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}