<section id="amala-earth">
        <div class="container-fluid">
          
          <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center pt-lg-0 order-2 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <div class="amala-earth-text">
                <h3><span>A way to</span> Conscious Living</h3>
                </div>
               <div class="icon-text-contain">
                <div>
                <div class="icon-text"><span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/icon1.png?v=1667219085"></span><p>Become a seller</p></div>
                <div class="icon-text"><span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/icon2.png?v=1667219085"></span><p>Become a seller</p></div>
                <div class="icon-text"><span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/icon3.png?v=1667219085"></span><p>Become a seller</p></div>
                <div class="icon-text"><span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/icon4.png?v=1667219086"></span><p>Become a seller</p></div>
              </div>
                <span class="vertical-line"></span>
               <div class="googleIcon">
                <div><p>Experience the Amala Earth App</p></div>
                <div class="playStore">
                <div><span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/google-play.png?v=1667219086"></span></div>
                <div><span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/google-store.png?v=1667219085"></span></div>
              </div>
               </div>
               </div>
               
              </div>
            </div>
          </div>
        
      </section>

{% schema %}
   {
      "name": "Conscious Living Section",
      
      "blocks": [
        {
          "type": "text",
          "name": "slide",
          "settings": [
         
          
          ]
        }
      ],
      "presets": [
        {
          "name": "Conscious Living section",
          "category": "text",
          "blocks": [
            {
              "type": "text"
            }
          ]
        }
      ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}