 
    <section id="banner2">
      <div class="container-fluid">
        <div class="banner2">
          <img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/banner2_732154f6-d01c-49ee-bd9f-8559e6cf3d0f.png?v=1666948780" style="width: 100%">
          <div class="heading">
            <div class="text">
              <div class="frestiv">
              <p>Festive</p>
              <span>Gift
                hampers</span>
              </div>
              <div class="circleBG">
                  <div class="frontCirc"><p>Starting<br/>
                    <span>₹999</span></p></div>
              </div>
             
            </div>
            
          </div>
          <button>Shop Now</button>
        </div>
      </div>
      </section>

{% schema %}
 {
      "name": "Static Banner Section",
      
      "blocks": [
        {
          "type": "text",
          "name": "slide",
          "settings": [
          ]
        }
      ],
      "presets": [
        {
          "name": "Static Banner Section",
          "category": "text",
          "blocks": [
            {
              "type": "text"
            }
          ]
        }
      ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}