{{ 'gift-hampers-section.css' | asset_url | stylesheet_tag }}

    <section class="gift-hampers">
      <div class="container-fluid m-0 p-0 gift-hampers-img mt-5">
         <div><img src="{{ section.settings.gift-img | img_url:'master' }}" alt=""></div>
        
      </div>

    </section>

{% schema %}
  {
    "name": "gift hampers",
    "settings": [
      {
        "type":"image_picker",
        "id":"gift-img",
        "label":"pick your image"
      }
    ],
    "presets":[
      {
        "name":"gift hampers",
        "category":"text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}