
    <section id="newProducts">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <h2>New Products</h2>
          </div>

          <div class="slider-filters">
            <ul>
              <li>
                <button onclick="filter(&quot;all&quot;)">All</button>
              </li>
              <li>
                <button onclick="filter(&quot;Fashion&quot;)">Fashion</button>
              </li>
              <li>
                <button onclick="filter(&quot;Skin&quot;)">Skin</button>
              </li>
              <li>
                <button onclick="filter(&quot;Home&quot;)">Home</button>
              </li>
              <li>
                <button onclick="filter(&quot;Beauty&quot;)">Beauty</button>
              </li>
              <li>
                <button onclick="filter(&quot;Food&quot;)">Food</button>
              </li>
            </ul>
          </div>
          <div class="slider-container">
            <ul class="controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
              <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1"><img src="assets/img/new-products/forward-arrow.png"></li>
              <li class="next" data-controls="next" aria-controls="customize" tabindex="-1"><img src="assets/img/new-products/forward-arrow.png"></li>
            </ul>
            <div class="my-slider">
              <div class="slider-item" data-type="Fashion">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np1.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div>
                </div>
              </div>
              <div class="slider-item" data-type="Beauty">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div> 
                </div>
              </div>
              <div class="slider-item" data-type="Food">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div>  
                </div>
              </div>
              <div class="slider-item" data-type="Home">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div>
                </div>
              </div>
              <div class="slider-item" data-type="Beauty">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div>
                </div>
              </div>
              <div class="slider-item" data-type="Skin">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div>
                </div>
              </div>
              <div class="slider-item" data-type="Home">
                <div class="card hoverwrap"><img src="assets/img/new-products/np3.png" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div>
                </div>
              </div>
              <div class="slider-item" data-type="Fashion">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div> 
                </div>
              </div>
              <div class="slider-item" data-type="Fashion">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div>
                </div>
              </div>
              <div class="slider-item" data-type="Beauty">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div>
                </div>
              </div>
              <div class="slider-item" data-type="Skin">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div>
                </div>
              </div>
              <div class="slider-item" data-type="Food">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div>
                </div>
              </div>
              <div class="slider-item" data-type="Skin">
                <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt=""/>
                  <p>Metallic Nail Paint | Vegan |
                    Pink Champagne | 10 ml</p>
                    <span>₹382</span>
                    <div class="overlay-sec hovercap">
                       <div class="icon-text">
                         <span><img src="assets/img/new-products/ShoppingCartSimple.png"/> Add to Cart</span>
                         <span class="vertical-line"></span>
                         <span><img src="assets/img/new-products/Eye.png"/> &nbsp;Quick View</span>
                     </div>
                    </div>
                    <div class="wishlist"><img src="assets/img/new-products/Heart.png"/></div>
                </div>
              </div>
            </div>
          </div>
       

    <div class="viewAllBtn">
      <button>view all</button>
    </div>
        
      </div>
    </section><!-- End Portfolio Section -->

{% schema %}
  {
      "name": "New Products Section",
      
      "blocks": [
        {
          "type": "text",
          "name": "slide",
          "settings": [
          ]
        }
      ],
      "presets": [
        {
          "name": "New Products Section",
          "category": "text",
          "blocks": [
            {
              "type": "text"
            }
          ]
        }
      ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  <script>
   $( document ).ready(function() {
    var miGlobal = {
  sliders : {
     
    items: []
    
  }
}
//cache obj
miGlobal.cache = {
    $window : null,
    $html : null,
    $body : null,
    init : function() {
      this.$window = $(window);
      this.$html = $('html');
      this.$body = this.$html.find('body');
    }
}

  
  
function createSlider(sliderSelector) {
  var slider = tns({
    container: sliderSelector,
    loop: true,
    items: 1,
    slideBy: 'page',
    nav: false,    
    autoplay: false,
    speed: 800,
    autoplayButtonOutput: false,
    mouseDrag: true,
    lazyload: true,
    controlsContainer: "#customize-controls",
    responsive: {
      375: {
        items: 2,
    },
     
      640: {
            items: 5,
        },
        
        768: {
            items: 3,
        },
        
        1366: {
            items: 5,
        }
    }
  });
  return slider
}

function filter (filterValue) {
    //1 destroy slider
 
    var sliderObj = miGlobal.sliders.items[0].slider; //hardcoded el index
    //sliderObj.destroy(); 
                          
    //2 modify DOM obj create, delete, edit...
    var $cached = $(miGlobal.sliders.items[0].cached); //usamos el slider de caché, con los datos originales no filtrados
    $(sliderSelector).html($cached.html())
    if (filterValue != "all") {
        $(sliderSelector).find('[data-type]').not('[data-type*=' + filterValue + ']').remove();
    }
  
    //3 rebuild slider 
    miGlobal.sliders.items[0].slider = createSlider(sliderSelector);
}

miGlobal.cache.init()
var sliderSelector = '.my-slider';
var $cachedSlider = miGlobal.cache.$body.find(sliderSelector)[0].cloneNode(true); // ¡clon!
var $thisSlider = createSlider(sliderSelector);
var domSlider = miGlobal.sliders.items[0] = {
  'slider' : $thisSlider,
  'cached' : $cachedSlider
};
     
  
    
});

  </script>
   <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js'></script>
    
    
{% endjavascript %}