<section id="newProducts">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <h2>New Products</h2>
          </div>
          <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
      
      <div id="myBtnContainer" class="slider-filters">
      <ul>
      <li><button class="btn active" onclick="filterSelection('all')"> Show all</button></li>
      <li> <button class="btn" onclick="filterSelection('Fashion')"> Fashion</button></li>
      <li> <button class="btn" onclick="filterSelection('Skin')"> Skin</button></li>
      <li><button class="btn" onclick="filterSelection('Home')"> Home</button></li>
      <li> <button class="btn" onclick="filterSelection('Beauty')"> Beauty</button></li>
      <li> <button class="btn" onclick="filterSelection('Food')"> Food</button></li>
      </ul>
      </div>
      
      <div class="container123">
      <div class="filterDiv Fashion">
      <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np1.png?v=1666944482" alt="">
      <p>Metallic Nail Paint | Vegan |
        Pink Champagne | 10 ml</p>
        <span>₹382</span>
      <div class="overlay-sec hovercap">
         <div class="icon-text">
           <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/ShoppingCartSimple.png?v=1666944484"> Add to Cart</span>
           <span class="vertical-line"></span>
           <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/Eye.png?v=1666944482"> &nbsp;Quick View</span>
       </div>
      </div>
      <div class="wishlist"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/Heart.png?v=1666944482"></div>
      </div>
      </div>
      <div class="filterDiv Beauty Home">
      <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np2.png?v=1666944482" alt="">
        <p>Metallic Nail Paint | Vegan |
          Pink Champagne | 10 ml</p>
          <span>₹382</span>
        <div class="overlay-sec hovercap">
           <div class="icon-text">
             <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/ShoppingCartSimple.png?v=1666944484"> Add to Cart</span>
             <span class="vertical-line"></span>
             <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/Eye.png?v=1666944482"> &nbsp;Quick View</span>
         </div>
        </div>
        <div class="wishlist"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/Heart.png?v=1666944482"></div>
      </div>
      </div>
      
      <div class="filterDiv Beauty">
      <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np4.png?v=1666944482" alt="">
        <p>Metallic Nail Paint | Vegan |
          Pink Champagne | 10 ml</p>
          <span>₹382</span>
        <div class="overlay-sec hovercap">
           <div class="icon-text">
             <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/ShoppingCartSimple.png?v=1666944484"> Add to Cart</span>
             <span class="vertical-line"></span>
             <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/Eye.png?v=1666944482"> &nbsp;Quick View</span>
         </div>
        </div>
        <div class="wishlist"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/Heart.png?v=1666944482"></div>
      </div>
      </div>
      <div class="filterDiv Fashion Skin">
      <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np5.png?v=1666944482" alt="">
        <p>Metallic Nail Paint | Vegan |
          Pink Champagne | 10 ml</p>
          <span>₹382</span>
        <div class="overlay-sec hovercap">
           <div class="icon-text">
             <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/ShoppingCartSimple.png?v=1666944484"> Add to Cart</span>
             <span class="vertical-line"></span>
             <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/Eye.png?v=1666944482"> &nbsp;Quick View</span>
         </div>
        </div>
        <div class="wishlist"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/Heart.png?v=1666944482"></div>
      </div>
      </div>
      
        <div class="filterDiv Food">
      <div class="card hoverwrap"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/np3.png?v=1666944482" alt="">
        <p>Metallic Nail Paint | Vegan |
          Pink Champagne | 10 ml</p>
          <span>₹382</span>
        <div class="overlay-sec hovercap">
           <div class="icon-text">
             <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/ShoppingCartSimple.png?v=1666944484"> Add to Cart</span>
             <span class="vertical-line"></span>
             <span><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/Eye.png?v=1666944482"> &nbsp;Quick View</span>
         </div>
        </div>
        <div class="wishlist"><img src="https://cdn.shopify.com/s/files/1/0619/0039/0599/files/Heart.png?v=1666944482"></div>
      </div>
      </div>
      </div>
      </div></div></div></section>

{% schema %}
  {
      "name": "New Products1 Section",
      
      "blocks": [
        {
          "type": "text",
          "name": "slide",
          "settings": [
          ]
        }
      ],
      "presets": [
        {
          "name": "New Products1 Section",
          "category": "text",
          "blocks": [
            {
              "type": "text"
            }
          ]
        }
      ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
 
  
{% endjavascript %}