.bestseller-text{
    text-align: center;
    
  
}



.bestseller-text span{
    font-family: 'Smith Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 65px;
    color: #9C4A2F;
    opacity: 0.1;
   
}
.bestseller-text{
    position: relative;
}
.bestseller-text h1{
    font-family: 'Garamond Premier Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #3C3C3C;

}




.product-text h6 a{
  
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #161616;
        text-decoration:none;
        text-transform:capitalize;
}

.product-text h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
   
  color: #9C4A2F;
    letter-spacing: 0.03em;
   
}
.product-text h5 span{
     color: #161616;
      text-decoration:line-through;
}
.product-1 img{
    border-radius: 10px;
    width:100%;
    
}
.product-1{
    position: relative;
}
.product-1::after{
    content: url('https://cdn.shopify.com/s/files/1/0619/0039/0599/files/Vector.svg?v=1669189921');
    position: absolute;
    bottom:16%;
    right: 4%;
}
.bttn{
    display: flex;
    justify-content: center;
 }
.bttn button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 50px;
    border: 1px solid #3C3C3C;
    border-radius: 3px;
    background-color: transparent;
    text-transform:capitalize;
}

.bttn button:hover{
    background-color: #B39D81;
    transition: 0.3s;
    color: white;
}

.bestseller-slider .prev {
    color: white;
    font-size: 20px;
    background-color: #B39D81;
    border: none;
    position: absolute;
    top: 33%;
    left: -1%;
    border-radius: 50%;
    z-index: 2;
}


.bestseller-slider .next {
    color: white;
    font-size: 20px;
    background-color: #B39D81;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 33%;
    right: -0.5%;
}


